html {
    box-sizing: border-box;
    font-size: 15px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    min-height: 100vh;
    max-width: 100%;
}

.main-container {
    border: 1px solid white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 20px;
}

.header {
    font-size: 2.5em;
    padding: 1rem;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.about {
    font-size: 0.9em;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    color: hsl(303, 10%, 53%);
    line-height: 2;
    margin: 0.8rem;
    
}

.accolades {
    border: 1px solid white;
    background-color: hsl(300, 24%, 96%);
    margin: 1rem;
    padding: 1rem;
    width: 85%;
}

.accolades div {
    padding: 0.1rem;
}

.rated-info {
    font-size: 0.85rem;
    font-family: 'Spartan', sans-serif;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.user-review {
    border: 1px solid black;
    background-color: hsl(300, 43%, 22%);
    padding: 1rem;
    margin: 0.7rem;
}

